# Ambienti virtuali Python
venv/
env/
ENV/

# File di cache e compilati di Python
__pycache__/
*.py[cod]
*$py.class

# File con tutti i dati sensibili
.env

# File di configurazione di editor e IDE
.vscode/
.idea/

# Log e file temporanei
*.log
*.tmp